{
  "extends": "angular",
  "rules": {
    "indent": [
      2,
      0
    ],
    "quotes": [
      1,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      1,
      "always"
    ],
    "angular/controller-as-vm": 0,
    "angular/no-service-method": 0,
    "angular/on-watch": 0
  },
  "env": {
    "browser": true
  }
}
