{
  "extends": "angular",
  "rules": {
    "indent": [
      "off",
      2
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "semi": [
      "warn",
      "always"
    ],
    "angular/controller-as-vm": "off",
    "angular/no-service-method": "off",
    "angular/on-watch": "off"
  },
  "env": {
    "browser": true
  }
}
